@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

html * {
  font-family: Dosis;
}

.text {
  font-size: 1rem;
}

.container {
  max-width: 100%;
}

.box {
  display: block;
}

.margin {
  margin-top: 24px;
  margin-right: 18px;
}

.heading {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 4px 6px -6px #222;
  margin-bottom: 20px;
  font-size: 3rem;
  padding-bottom: 3px;
}

button:hover {
  background: #007bff;
  color: #fff;
}

.date {
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  cursor: pointer;
  background-color: yellow;
}